<a href="https://colab.research.google.com/github/GEORGESVARGHESE/introduction-to-Python-/blob/main/1st%20class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=input(" travel source ")
y=input(" travel destination ")
z=int(input(" number of passengers "))
print(x,"to",y,z)

 travel source kakanad
 travel destination aluva
 number of passengers 2
kakanad to aluva 2

In [ ]:
x=int(input(" total ticket fair "))
y=int(input(" number of passengers "))
fair=print("fair per person is ",x/y)

 total ticket fair 1000
 number of passengers 2
fair per person is  500.0

In [ ]:
x=input(" passangers name ")
y=int(input(" ticket fair "))
print(x,y)

 passangers name adarsh
 ticket fair 1000
adarsh 1000

In [ ]:
x=int(input(" ticket fair "))
if x > 10000:
  print(" eligible for discout ")

 ticket fair 12000
 eligible for discout

In [ ]:
x=int(input(" ticket fair "))
if x > 15000:
  print(" eligible for 20% discount ")
else:
  print(' eligible for 10% discount ')

 ticket fair 18000
 eligible for 20% discount

In [15]:
x=int(input("Total TIcket Fare "))
if x>15000:
  print("Eligible for 20% discount")
  print("discounted fair",x*20/100)
else:
  print("Eligible for 10% discount")
  print(x*10/100)

Total TIcket Fare 120000
Eligible for 20% discount
discounted fair 24000.0

In [22]:
x=int(input("Enter A Number "))
if x>0:
  print("positive")
elif x<0:
  print("negative")

Enter A Number 4
positive

In [32]:
x=int(input("age of passanger"))
if x<5:
  print("infant")
elif x>5 and x<13:
  print("kid")
elif x>13 and x<17:
  print("teenager")
else:
  print("adult")

age of passanger12
kid

In [30]:
x=input(" passangers initial ")
if x=="a":
  print("vowel")
elif x=="e":
  print("vowel")
elif x=="i":
  print("vowel")
elif x=="o":
  print("vowel")
elif x=="u":
  print("vowel")
else:
  print("not a vowel")

 passangers initial t
not a vowel

In [33]:
x=input("enter your name")
for a in x:
  print(a)

enter your namegeorge
g
e
o
r
g
e

In [36]:
x=int(input("Enter Starting Value "))
y=int(input("Enter Ending Value "))
z=range(x,y) 
for a in z:
  if a%2!=0 :
    print(a)

Enter Starting Value 44
Enter Ending Value 88
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87

In [38]:
6
x=0
for i in range(1,11):
  x=x+i
  print(i,x)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55