<a href="https://colab.research.google.com/github/GEORGESVARGHESE/introduction-to-Python-/blob/main/pythonbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
salary=int(input())
if salary < 250000:
  print("not taxable")
if  2500000< salary <5000000:
  print((salary-250000)*10/100)
if 500000 < salary >750000:
  print((salary-500000)*20/100)
if  salary >750000:
  print((salary-750000)*30/100)

64756786
12851357.2
19202035.8

In [4]:
salary=int(input())
if salary < 250000:
  print("not taxable")
if  2500000< salary <5000000:
  print((salary-250000)*10/100)
if 500000 < salary >750000:
  print((salary-500000)*20/100)
if  salary >750000:
  print((salary-750000)*30/100)

65893085679
13178517135.8
19767700703.7