<a href="https://colab.research.google.com/github/GEORGESVARGHESE/introduction-to-Python-/blob/main/Tax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mark=int(input())

50

In [2]:
mark=int(input())
if mark > 50:
  print("you are passed")
if mark == 50:
  print("you are just pass")
if mark < 50:
  print("you are failed")

98
you are passed

In [3]:
salary = int(input())
if salary >= 250000:
  print("you are taxable")
  print(salary*(10/100))
else:
  print("you are not taxable")

259866
you are taxable
25986.600000000002

In [4]:
salary = int(input())
if salary >= 250000:
  print("you are taxable")
  print((salary-250000)*(10/100))
else:
  print("you are not taxable")

5374586
you are taxable
512458.60000000003

In [5]:
salary = int(input())
if salary >= 250000 and salary < 500000:
  print("you are taxable")
  print(salary*(10/100))
if salary > 500000:
  print("you are taxable")
  print(salary*(20/100))
else:
  print("you are not taxable")

227675906
you are taxable
45535181.2

In [6]:
salary = int(input())
if salary >= 250000 and salary < 500000:
  print("you are taxable")
  print((salary-250000)*(10/100))
if salary > 500000:
  print("you are taxable")
  print((salary-250000)*(20/100))
else:
  print("you are not taxable")

645237900
you are taxable
128997580.0