<a href="https://colab.research.google.com/github/GEORGESVARGHESE/introduction-to-Python-/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
x=(int(input("Enter A Number ")))
if x<0:
  print(x*-1)
elif x>0:
  print(x*1)

Enter A Number -5
5

In [8]:
x=int(input("enter a number"))
if x>80:
  print("A")
elif x>60 and x<=80:
  print("B")
elif x>50 and x<=60:
  print("c")
elif x>45 and x<=50:
  print("D")
elif x>25 and x<=45:
  print("E")
else:
  print("f")

enter a number60
c

In [10]:
x=int(input(" enter the no.of classes "))
y=int(input("enter the no.of classes attended "))
z= y/x*100
if z>=75:
  print("u r allowed to write exam")
else:
  print("u r not allowed to write exam")

enter the no.of classes50
enter the no.of classes attended44
u r allowed to write exam

In [16]:
print("1.addition")
print("2.subtraction")
print("3.multiplication")
print("4.division")
print("5.modulus")
print("6.floor division")
print("7.exponent")
x=int(input("select a number"))
m1=int(input("enter a number"))
m2=int(input("enter a number"))
if x==1:
  print(m1+m2)
if x==2:
  print(m1-m2)
if x==3:
  print(m1*m2)
if x==4:
  print(m1/m2)
if x==5:
  print(m1%m2)   
if x==6:
  print(m1//m2)
if x==7:
  print(m1**m2)       
else:
  print("thank you")

1.addition
2.subtraction
3.multiplication
4.division
5.modulus
6.floor division
7.exponent
select a number87
enter a number97
enter a number35
thank you

In [17]:
m1=int(input('Enter marks of first subject '))
m2=int(input('Enter marks of second subject '))
m3=int(input('Enter marks of third subject '))
m4=int(input('Enter marks of fourth subject '))
m5=int(input('Enter marks of fifth subject '))
print('Least marks:',min(m1,m2,m3,m4,m5))
print('Maximum marks:',max(m1,m2,m3,m4,m5))

Enter marks of first subject 12
Enter marks of second subject 25
Enter marks of third subject 35
Enter marks of fourth subject 15
Enter marks of fifth subject 31
Least marks: 12
Maximum marks: 35