<a href="https://colab.research.google.com/github/GEORGESVARGHESE/introduction-to-Python-/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
num=int(input(" enter the number "))
for i in range(1,11):
  print(i*num)

 enter the number 99
99
198
297
396
495
594
693
792
891
990

In [4]:
num=int(input(" enter the number "))
for i in range(1,11):
  print(num,"x",i,"=",num*i)

 enter the number 55
55 x 1 = 55
55 x 2 = 110
55 x 3 = 165
55 x 4 = 220
55 x 5 = 275
55 x 6 = 330
55 x 7 = 385
55 x 8 = 440
55 x 9 = 495
55 x 10 = 550

In [7]:
x=input(" enter the number ")
k=0
for a in x:
    k=(k+1)
print(k)

 enter the number 345
3

In [10]:
num=int(input("enter any number"))
k=1
while k<=10:
  print(num*k)
  k=k+1

enter any number4
4
8
12
16
20
24
28
32
36
40

In [11]:
string = input('Enter any word: ')
rev = string[::-1]
if string == rev:
  print(string, 'is a palindrom')
else:
  print(string, 'is not a palindorm')

Enter any word: malayalam
malayalam is a palindrom

In [14]:
english = int(input('Enter english marks: '))
ip = int(input('Enter ip marks: '))
language = int(input('Enter language marks: '))
economics = int(input('Enter economics marks: '))
business = int(input('Enter business marks: '))

print(' ')

marks = [english, ip , language, economics, business]
minimum = min(marks)
maximum = max(marks)
average = sum(marks)/5 
rounded = round(average,3)

print('minimum mark = ', minimum)
print('maximum mark = ', maximum)
print('average mark = ', average)
print('rounded average = ', rounded)

Enter english marks: 67
Enter ip marks: 74
Enter language marks: 58
Enter economics marks: 72
Enter business marks: 66

minimum mark =  58
maximum mark =  74
average mark =  67.4
rounded average =  67.4