<a href="https://colab.research.google.com/github/GEORGESVARGHESE/introduction-to-Python-/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def george ():
  print("hello world")

In [ ]:
george()

hello world

In [ ]:
def add(x,y):
  z=x+y
  print("result=",z)

In [ ]:
add(2,8)

result= 10

In [ ]:
def sub(x,y):
  z=x-y
  print("result=",z)

In [ ]:
sub(4,1)

result= 3

In [ ]:
def sal(x):
  if x>250000:
    print("you are taxable")
  if x<250000:
    print("you are not taxable")

In [ ]:
salary=int(input("enter your salary "))
sal(salary)

enter your salary 300000
you are taxable

In [ ]:
def add(x):
  k=0
  for i in range (x):
    k=k+x
  print(k)

In [ ]:
value=int(input("enter the value "))
add(value)

enter the value 10
100