<a href="https://colab.research.google.com/github/GEORGESVARGHESE/introduction-to-Python-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
x=[1,2,3,4,5,6]

In [8]:
print(x)

[1, 2, 3, 4, 5, 6]

In [9]:
type(x)

list

In [10]:
x[0]

1

In [11]:
x[1]

2

In [12]:
x[3]

4

In [14]:
x=[10,20,30,40]
y=[35,46,22,96]
print((x[0]*y[0])+(x[1]*y[1])+(x[2]*y[2])+(x[3]*y[3]))

5770

In [20]:
x=["kerala","tamilnadu"]
y=["chennai","trivandrum"]
print("capital of", x[0] ,"is", y[1])
print("capital of", x[1] ,"is",y[0])

capital of kerala is trivandrum
capital of tamilnadu is chennai

In [21]:
x=[10,25,26,36,39,55]

In [22]:
x[-1]

55

In [24]:
x[-2]

39

In [25]:
x[-3]

36

In [27]:
print(x[-3]*x[-5])

900

In [29]:
if x[3]==10:
  print("x is 10")
else:
  print("x is not 10")

x is not 10

In [30]:
if x[-1]==55:
  print("last element is 55")
else:
  print("last element is not 55")

last element is 55

In [31]:
x="george"
x[-1]

'e'

In [32]:
if x[0]==x[-1]:
  print("1st and last letter is same")
else: 
  print("1st and last letter is not same")

1st and last letter is not same

In [35]:
x=[10,25,26,36,39,55]
for a in x:
  print(a)

10
25
26
36
39
55

In [37]:
x="george"
for a in x:
  print(a)

g
e
o
r
g
e

In [46]:
x="george"
for a  in x:
  if x=="i":
     print("your name has i")
  else:
    print("your name has no i")

your name has no i
your name has no i
your name has no i
your name has no i
your name has no i
your name has no i

In [60]:
x=[10,25,26,36,39,55]
k=0
for a in x:
  k=k+a
print(k)

191