<a href="https://colab.research.google.com/github/GEORGESVARGHESE/introduction-to-Python-/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=int(input("Enter Phone Number "))
y=input("Enter your name ")
print(x)
print(y)

Enter Phone Number 634536
Enter your name george
634536
george

In [ ]:
x=int(input("Enter DBMS Mark "))
y=int(input("Enter CRA Mark "))
z=int(input("Enter FA Mark  "))
total=x+y+z
print(total)

Enter DBMS Mark 20
Enter CRA Mark 45
Enter FA Mark  65
130

In [ ]:
x=int(input("Enter DBMS Mark "))
y=int(input("Enter CRA Mark "))
z=int(input("Enter FA Mark  "))
total=x+y+z
print(total)
mean=total/3
print(mean)

Enter DBMS Mark 10
Enter CRA Mark 10
Enter FA Mark  10
30
10.0

In [ ]:
N1=int(input("Enter any number "))
N2=int(input("Enter any number "))
N3=int(input("Enter any number "))
if N1>N2 and N1>N3:
  print(N1,"is greater")
if N2>N1 and N2>N3:
  print(N2,"is greater")
if N3>N1 and N3>N2:
  print(N3,"is greater")

Enter any number 14
Enter any number 19
Enter any number 20
20 is greater

In [13]:
y=int(input("Enter Any Number "))
if y%2 ==0 :
  print(y,"is even")
else :
  print(y,"is odd")

Enter Any Number 67
67 is odd

In [20]:
x=range(10)
for a in x:
  if a%2 ==0 :
    print(x,"is even")
  else:
    print(x,"is odd")

range(0, 10) is even
range(0, 10) is odd
range(0, 10) is even
range(0, 10) is odd
range(0, 10) is even
range(0, 10) is odd
range(0, 10) is even
range(0, 10) is odd
range(0, 10) is even
range(0, 10) is odd

In [21]:
x=int(input("Enter Starting Value "))
y=int(input("Enter Ending Value "))
z=range(x,y) 
for a in z:
  if a%2 ==0 :
    print(z,"is even")
  else:
    print(z,"is odd")

Enter Starting Value 0
Enter Ending Value 12
range(0, 12) is even
range(0, 12) is odd
range(0, 12) is even
range(0, 12) is odd
range(0, 12) is even
range(0, 12) is odd
range(0, 12) is even
range(0, 12) is odd
range(0, 12) is even
range(0, 12) is odd
range(0, 12) is even
range(0, 12) is odd

In [22]:
x=int(input("Enter Starting Value "))
y=int(input("Enter Ending Value "))
z=range(x,y) 
for a in z:
  if a%2 ==0 :
    print(a+2,"is even")

Enter Starting Value 1
Enter Ending Value 10
4 is even
6 is even
8 is even
10 is even

In [23]:
x=int(input("Enter Starting Value "))
y=int(input("Enter Ending Value "))
z=range(x,y) 
for a in z:
  if a%2 ==0 :
    print(a+1,"is odd")

Enter Starting Value 1
Enter Ending Value 10
3 is odd
5 is odd
7 is odd
9 is odd